* {
  font-family: "M PLUS Rounded 1c", Avenir Next, Helvetica, sans-serif;
  color: #252525;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.wrapper {
  background: #94bbe9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 525px;
  width: 360px;
  color: #252525;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 1rem;
  padding: 1.2rem;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container div h4 {
  margin: 1rem 0;
}

.container span {
  font-size: 1.2rem;
}

input {
  background-color: #94bbe9;
  width: 90%;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  position: relative;
  padding: 0.5rem;
}

input:focus {
  outline: none;
}

.total__amount__per__person,
.total__tip__per__person {
  display: flex;
  justify-content: space-between;
}

.people {
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 2rem;
}

.people h4 {
  text-align: center;
  position: relative;
}

.people h4:after {
  border-bottom: 1px solid whitesmoke;
  content: "";
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 40%;
}

.people button {
  background-color: #8990ec;
  border: 1px solid #8990ec;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.people h3 {
  display: inline-block;
  margin-left: 4rem;
}
